/* The following will be applied for all html elements in the whole body*/
*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica;
    box-sizing: border-box;
}

body{
    background-color: #efefef;

}
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#1876f2;
    padding:5px 5%;
    position:sticky;/*means when you scroll it wont move ,...*/
    top: 0;
    z-index: 100;/* It makes the object to go behind */

}
.logo{
    width:160px;
    margin-right:45px;
}
.nav-left, .nav-right{

    display: flex;
    align-items: center;
}
.nav-left ul li {

    list-style: none;/*it unstyle the list so the the bullet can be removed or the numbering.*/
    display: inline;

}
.nav-left ul li img{

    width:28px ;
    margin: 0 15px;

}

.nav-user-icon img{
    width:40px;
    border: radius 50;
    cursor: pointer;
}
.nav-user-icon
{
    margin-left: 30px;
}
.search-box
{
background-color: #efefef;
width:350px;
border-radius: 20px;
display: flex;
align-items: center;
padding: 0 15px;

}
.search-box img{
    width:18px;
}

.search-box input{

    width:100%;
    background: transparent;
    padding:10px;
    outline: none;
    border: 0px;

}

.online
{
    position: relative;
    
}
.online:after{
    content:'';
    width:7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius:50%;
    background: #41db51;
    position:absolute;
    top:0;
    right: 0;
}

/*The following section is for my container ,..after the nav part*/
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:13px 5%; 
    }
.left-container{
   
    flex-basis: 25%;
    position:sticky;/*means when you scroll it wont move ,...*/
    top: 70px;
    align-self: flex-start;
    /*height: 100vh;*/
}
.right-container{

    flex-basis: 20%;
    position:sticky;/*means when you scroll it wont move ,...*/
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding:15px;
    border-radius:4px;
    color: #626262;
    
    /*height: 100vh;*/
}
.main-container{
    flex-basis: 62%;
    position:sticky;/*means when you scroll it wont move ,...*/
    top: 70px;
    align-self: flex-start;
    height: 500px;

    background-repeat: no-repeat;
    width:12px;
}
.imp-links a, .shortcut-links a
{

    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom:30px;
    color: #626262;
    width:fit-content;
    }

.imp-links a img{

    width:25px;
    margin-right: 15px;;
}
.imp-links a:last-child{

    color:#1876f2;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}

/*The following class is the style for shortcut links*/
.shortcut-links a img{

    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
    margin-top: 10px;
}
.shortcut-links p{
    margin:20px 0px;
    color:#626262;
    font-weight: 500;
}
.left-container-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:18px;    
}
.left-container-title h4
{
    font-weight: 600;
    font-size:16px;
}
.left-container-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.right-container-title h4
{
    font-weight: 600;
    font-size:16px;
}
.event{
    display: flex;
    font-size:14px;
    margin-bottom: 20px;

}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top:10px;
    text-align:center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.event p{
    font-size:12px;
}
.event a{
    font-size: 12px;
    text-decoration:none;
    color:#1876f2;

}
.left-event span{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background:#1876f2 ;
    color: #fff;
    font-size:10px;
    padding:4px 0;

}
.side-bar-ads
{
    width:100%;
    margin-bottom: 20px;
    border-radius:4px;
}
.online-list
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width:40px; 
    border-radius: 50px;

}
.online-list .online
{
    width:40px;
    border-radius: 50%;
    margin-right: 15px;
}
.online-list .online::after{

    top:unset;
    bottom:5px;

}
.story-gallary
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.story{
    flex-basis:18px;
    padding-top:32%;
    position: relative;
    background-image:linear-gradient(transparent,rgba(0,0,0,0.5),),url('img/status-1.png');/*Image for statuses*/
    background-position: center;
    background-size: cover;
    border-radius:10px;


}
.story img{
    position: absolute;
    width: 45px;
    border-radius:50%;
    top:10px;
    left: 10px;
    border:5px solid hsl(214, 86%, 51%);
}
.story p{
    position:absolute;
    bottom:10px;
    width: 100%;
    text-align: center;
    color:#fff;
    font-size:14px;

}

.story.story1 img{
    top:unset;
    left: 50%;
    bottom: 40px;
    transform:translateX(-50%);
    width:35px;

}
.write-post-container
{
    width:100%;
    background:#fff;
    border-radius: 6px;;
    padding:20px;
    color: #626266;

}
.user-profile
{
    display: flex;
    align-items:center;

}
.user-profile img 
{
    width: 45px;
    border-radius:50%;
    margin-right: 10px;;
}

.user-profile p{
    margin-right: -5px;
    font-weight: 500;
    color:#626262
}
.user-profil small
{

    font-size:10px;
}
.post-input-container textarea{

    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid ccc;
    background: transparent;
}

.headings{
    padding-left: 170px;
    border-right: 1px #fff solid;
    margin-right: 10px;
}
.headings div a{
    margin-left:20px;
    text-decoration: none;
    padding-left: 15px;
    color:#fff;
   
}
.nav-links
{
    background-color:hsl(214, 86%, 55%);;
    height:40px;
    padding-top:10px;
    padding-right: 10px;
    width:23%px;
}
.main-content
{


background-repeat: no-repeat;
height:350px;
width: 100%;
padding-top: 90px;
padding-left: 7em;
font-family: 'Brush Script MT', cursive;
background-size: 100%;
border-radius:10px;


background-position: center;
background-image: url('img/WallG.png');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
transition: 5s;


animation-name: animate;
animation-direction: alternate-reverse;
animation-duration: 500s;
animation-fill-mode: forwards;
animation-iteration-count: infinite; ;
animation-play-state: running;
animation-timing-function: ease-in-out;
}

@keyframes animate {

    5%{
        background-image: url('img/Anime/anime1.png');
    }
    10%{
        background-image: url('img/Anime/anime2.png');
    }
    15%{
        background-image: url('img/Anime/anime3.png');
    }
    20%{
        background-image: url('img/Anime/anime4.png');
    }
    25%{
        background-image: url('img/Anime/anime5.png');
    }
    30%{
        background-image: url('img/Anime/anime6.png');
    }
    35%{
        background-image: url('img/Anime/anime7.png');
    }
    40%{
        background-image: url('img/Anime/anime8.png');
    }
    45%{
        background-image: url('img/Anime/anime9.png');
    }
    50%{
        background-image: url('img/Anime/anime10.png');
    }
    55%{
        background-image: url('img/Anime/anime11.png');
    }
    60%{
        background-image: url('img/Anime/anime12.png');
    }
    65%{
        background-image: url('img/Anime/anime13.png');
    }
    70%{
        background-image: url('img/Anime/anime14.png');
    }
    75%{
        background-image: url('img/Anime/anime15.png');
    }
    80%{
        background-image: url('img/Anime/anime16.png');
    }
    85%{
        background-image: url('img/Anime/anime17.png');
    }
    90%{
        background-image: url('img/Anime/anime18.png');
    }
    95%{
        background-image: url('img/Anime/anime19.png');
    }
    100%{
        background-image: url('img/Anime/anime20.png');
    }
    

}

.inner-main-container
{
    border-radius: 20px;
    padding-top: 20px;
    height: 200px;
    text-align: center;
    width: 50em;
    background:#fff;
    opacity:0.7;



}
.inner-main-container h1
{
e;
   padding-left: 20px;
}
